/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #3081ed; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

canvas.particles-js-canvas-el {
    background:#3081ed;
    display: block ;
    visibility:visible;
}

div > canvas{
    visibility:hidden;
}

.count-particles {
    display: none;
}

div#particles-js {
    z-index: -2;
}
article.thumbnail.item {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: 6px;
    border-radius: 5px;
    height:97%;
}

article.thumbnail.item a img {
    width: 30%;
    margin: 0px auto;
    padding-top: 10%;
}

.caption {
    text-align: center;
    padding-bottom: 15px;
}

.caption h4 {
    font-size:18px;
    
}
.mt50 {
    margin-top: 50px;
}
.imgbanner {
    width: 80%;
}
a.btn.btn-primary.btn-block {
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding:0;
}
.mt20{
    margin-top: 20px;
}
ul.nav.nav-tabs li a {
    color: #fff;
}


    ul.nav.nav-tabs li{
        font-size:25px;
        border:1px solid #fff;
        background:#fff;
        margin-left:2px;
    }
    ul.nav.nav-tabs li a,.caption h4 {
      color:#3081ed;
    }
    p.flex-text{
        color:#000;
        font-size: 16px;
        height: 88px;
        padding: 10px;
    }
    .owl-item {
        height: 261px;
    }
    
    .owl-item{
        height:100%;
    }
    .ccontainer.mt50{
        color:#fff;
        width: 90%;
        margin: 50px auto auto;
    }
    ul.nav.nav-tabs {
        border-bottom: 0;
    }
    ul.list-custom {
        list-style: none;
      }
      
      ul.list-custom li:before {
        content: '✓';
      }
      p {
        font-size: 18px;
    }
    
    ul.list-custom {
        font-size: 18px;
    }
    .tab-pane.container{
       max-width:100%;
    }
    button {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 1em;
        padding: 10px;
        box-shadow: inset 0 0 0 2px #fff;
        color: #fff;
        font-size: inherit;
        font-weight: 700;
        position: relative;
        vertical-align: middle;
   }
    button::before, button::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
   }
    .draw {
        transition: color 0.25s;
   }
    .draw::before, .draw::after {
        border: 2px solid transparent;
        width: 0;
        height: 0;
   }
    .draw::before {
        top: 0;
        left: 0;
   }
    .draw::after {
        bottom: 0;
        right: 0;
   }
    .draw:hover {
        color: #60daaa;
   }
    .draw:hover::before, .draw:hover::after {
        width: 100%;
        height: 100%;
   }
    .draw:hover::before {
        border-top-color: #60daaa;
        border-right-color: #60daaa;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
   }
    .draw:hover::after {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
   }
    .meet:hover {
        color: #fbca67;
   }
    .meet::after {
        top: 0;
        left: 0;
   }
    .meet:hover::before {
        border-top-color: #fbca67;
        border-right-color: #fbca67;
   }
    .meet:hover::after {
        border-bottom-color: #fbca67;
        border-left-color: #fbca67;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
   }
    .center:hover {
        color: #6477b9;
   }
    .center::before, .center::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
   }
    .center::before {
        border-top: 2px solid #6477b9;
        border-bottom: 2px solid #6477b9;
        transform: scale3d(0, 1, 1);
   }
    .center::after {
        border-left: 2px solid #6477b9;
        border-right: 2px solid #6477b9;
        transform: scale3d(1, 0, 1);
   }
    .center:hover::before, .center:hover::after {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s;
   }
    .spin {
        width: 5em;
        height: 5em;
        padding: 0;
   }
    .spin:hover {
        color: #0eb7da;
   }
    .spin::before, .spin::after {
        top: 0;
        left: 0;
   }
    .spin::before {
        border: 2px solid transparent;
   }
    .spin:hover::before {
        border-top-color: #0eb7da;
        border-right-color: #0eb7da;
        border-bottom-color: #0eb7da;
        transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
   }
    .spin::after {
        border: 0 solid transparent;
   }
    .spin:hover::after {
        border-top: 2px solid #0eb7da;
        border-left-width: 2px;
        border-right-width: 2px;
        transform: rotate(270deg);
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
   }
    .circle {
        border-radius: 100%;
        box-shadow: none;
   }
    .circle::before, .circle::after {
        border-radius: 100%;
   }
    .thick {
        color: #f45e61;
   }
    .thick:hover {
        color: #fff;
        font-weight: 700;
   }
    .thick::before {
        border: 2.5em solid transparent;
        z-index: -1;
   }
    .thick::after {
        mix-blend-mode: color-dodge;
        z-index: -1;
   }
    .thick:hover::before {
        background: #f45e61;
        border-top-color: #f45e61;
        border-right-color: #f45e61;
        border-bottom-color: #f45e61;
        transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
   }
    .thick:hover::after {
        border-top: 2.5em solid #f45e61;
        border-left-width: 2.5em;
        border-right-width: 2.5em;
   }
   
   button.btn.draw.pull-right.btn-white {
       padding: 14px 24px;
       font-size: 20px;
       float:right;
   }
   .owl-dots {
       display: none;
   }
   li.nav-item {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-tabs .nav-link.active {
    color: #fff;
    background: #307ced;
}
button.btn.draw.pull-right.btn-white {
    margin: 0;
}


.row-1-logo img {
    padding-right: 25px;
    padding-top: 25px;
}


.row-1-logo {
    margin-bottom: 15px;
}
.bnimag{
    width:100%;
}
div#menu2 {
    padding-top: 25px;
}


.bg-white.templ .tooltip-notification-channels {
    vertical-align: middle;
    display:inline-block;
    width: 16%;
}


.bg-white.templ {
    height: 147px;
    padding: 38px;
    border-radius: 10px;
}

.bg-white.col-md-5.templ {
    color: #000;
    font-size: 22px;
}

span.tooltiptext {
    display: none;
}

div#menu3 {
    padding-top: 25px;
}

.private-hosting:hover {
    box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
    -webkit-transform: scale(1.014);
    transform: scale(1.014);
}

.private-hosting a {
    text-decoration: none;
}

.private-hosting .col-md-4 {
    padding-left: 10%;
    display: inline-flex;
}
.built-in-integrations.row {margin-bottom: 12px;}

.private-hosting {
    padding: 10px;
}
   @media (min-width: 1281px) {
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: #3081ed;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        background-color: #3081ed;
    }
 
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .hidden-sm-down{
        display:none;
    }
    body {
        background-color: #3081ed;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .hidden-sm-down{
        display:none;
    }
    body {
        background-color: #3081ed;
    }
    button.btn.draw.pull-right.btn-white {
        display: block;
        width: 100%;
        float: none;
    }
    
  }
